@charset "UTF-8";


// Import BASSCSS
@import "basscss/basscss";
  


/**
 * Your Crap
 */

.measure { max-width: 48rem; }

// Positioning Utilities
.relative { position: relative; }
.absolute { position: absolute; }
.absolute-center {
  top: 0; right: 0; bottom: 0; left: 0;
  margin: auto;
  display: table;
}

.full-width { width: 100%; }

header nav:after, .post:after {
  display: block;
  content: '----------';
  margin: 80px 0;
  color: #ccc;
}

p {padding-bottom: $space;}

img { max-width: 100%; }

.cf{
    &:after{
        content:"";
        display:table;
        clear:both;
    }
}


.nav{
    list-style:none;
    margin-left:0;
    @extend .cf;

    > li{

        &,
        > a{
            display:inline-block;
           *display:inline;
            zoom:1;
        }
    }
}

.nav--banner{
    text-align:center;
}


.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}




// Import theme for pygments
@import "basscss/syntax";

