  <footer class="p2 measure mxa">
    <p class="small">Made with love by <a href="{{ site.author.url }}">{{ site.author.name }}</a></p>
    <ul>
      <li class="twitter">
          <a href="http://twitter.com/{{ site.author.twitter }}" title="Follow on Twitter" target="_blank">twitter</a>
      </li>
      <li class="dribbble">
          <a href="http://dribbble.com/{{ site.author.dribble }}" title="Follow on Dribbble" target="_blank">dribbble</a>
      </li>
      <li class="soundcloud">
          <a href="http://soundcloud.com/{{ site.author.soundcloud }}" title="Soundcloud" target="_blank">soundcloud</a>
      </li>
      <li class="github">
          <a href="http://github.com/{{ site.author.github }}" title="Github" target="_blank">github</a>
      </li>
      <li class="xing">
          <a href="{{ site.author.xing }}" title="xing" target="_blank">xing</a>
      </li>
      <li class="linkedin">
          <a href="{{ site.author.linkedin }}" title="linkedin" target="_blank">linkedin</a>
      </li>
      <li class="tumblr">
          <a href="http://{{ site.author.tumblr }}.tumblr.com" title="tumblr" target="_blank">tumblr</a>
      </li>
      <li class="behance">
          <a href="http://www.behance.net/{{ site.author.behance }}" title="behance" target="_blank">behance</a>
      </li>
    </ul>
  </footer>