  <header>
    <hgroup>
        <h1><a href="/" rel="home" title="{{ site.author.name }}">{{ site.author.name }}</a></h1>
        <h2>{{ site.author.role }}</h2>
    </hgroup>
    <nav>
      <h1 data-skip="true">Pages and Blog Categories Navigation</h1>
      <ul>
        <li><a href="http://typical-theme.heydonworks.com/about/">About Typical</a></li>
      </ul>
      <ul>
        <li><a href="http://typical-theme.heydonworks.com/category/theme-features/"><span>✎</span> Features<sup>6</sup></a></li>
        <li><a href="http://typical-theme.heydonworks.com/category/version-history/"><span>✎</span> Version History<sup>1</sup></a></li>
      </ul>
    </nav>
  </header>